*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_notebooks/.ipynb_checkpoints
_notebooks/debug.log
_notebooks/temp_sound.wav
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
